{% extends "base.html" %}

{% block title %}{{ 'nav-about'|message }} - {{ parent() }}{% endblock title %}

{% block content %}
{% spaceless %}
<article>
  <h2>{{ 'about-header'|message }}</h2>

  <p>A bash.org inspired quips server.</p>

  <p>When Wikimedia used Bugzilla as its issue tracker, we also used the quips
    functionality to store funny quotes from irc, bug reports, code reviews and
    other sources. Since we have moved to Phabricator, this functionality has been
    missed. This app attempts to bring joy back to the masses by allowing access
    to the former quips dataset that is now stored in an Elasticsearch index.</p>

  <section id="toollabs">
    <h3>{{ 'about-section-toollabs'|message }}</h3>
    <p>This service is currently running in <a href="https://wikitech.wikimedia.org/wiki/Help:Tool_Labs">Wikimedia Tool Labs</a> as the <a href="https://tools.wmflabs.org/bash">bash</a> tool. It uses an <a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a> index maintained by <a href="https://github.com/bd808/tools-stashbot">stashbot</a> and hosted in
Tool Labs. Stashbot collects messages from various IRC channels and looks for
messages that start with <kbd>!bash</kbd>. The index was bootstrapped with a <a href="https://phabricator.wikimedia.org/P110">list of quips</a> that were salvaged from the former bugzilla.wikimedia.org server.</p>
  </section>

  <section id="credits">
    <h3>{{ 'about-section-credits'|message }}</h3>
    <p>Favicon/logo from <a href="http://glyphicons.com/">glyphicons.com</a> (<a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>)</p>
  </section>

  <section id="license">
    <h3>{{ 'about-section-license'|message }}</h3>
    <ul>
      <li><a href="https://github.com/bd808/quips">PHP code</a>: <a href="//www.gnu.org/copyleft/gpl.html">GNU GPLv3+</a></li>
      <li>Content: <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a></li>
    </ul>
  </section>
</article>
{% endspaceless %}
{% endblock content %}
